/*.component-button{
    width:25%;
    flex: 1 0 auto;
    display: inline-flex;
}

.component-button.wide{
    width:50%;
}


.component-button button{
    flex: 1 0 auto;
    font-size: 1.5rem;
    background-color: #e0e0e0;
    padding: 0;
    margin: 0 1px 0 0;
    border:0;
}

.component-button:last-child button {
    margin-right: 0;
  }
  
.component-button.orange button{
    background-color: orange;
    color: white;
}
*/

.component-button{
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;    
}

.component-button button{
    display: flex;
    flex: 1 0 auto;
    font-size: 1.5rem;
    border: 0;
    margin: 1px 1px 1px 1px;
}
.component-button.wide{
    width: 50%;
}

.component-button.orange button{
    background-color: orange;
    color: white;
}
  